<div class="container-fluid ">

    <div class="row py-20">

        <div class="col-md-10 col-12 mx-auto">
            <div class="col-md-10 col-12 hero-text">
                <h2><b>Ubersicht deiner Fahrshulen</b></h2>
                <h3>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odio asperiores sequi aut. Quos
                    ducimus dolores possimus </h3>
            </div>

            <div class="row">
                <div class="col-md-6 col-12 hero-text order-md-1 order-0">

                    <figure>
                        <img src="images/car1.webp" alt="herosection_image" style="width:90%">>
                    </figure>
                </div>

                <div
                    class="col-md-6 col-12 hero-text order-md-0 order-1 d-flex justify-content-center align-items-start flex-column">
            <h2 ><b>Fahrsxhule Achselpeter</b></h2>
            <div class="upper"><h5><i class="fas fa-map-marker-alt"></i> <span class="bold-style">&nbsp Seddiner strafe 7 | 10135 Berlin</span> </h5></div>
            <div class="upper"><h5><i class="fas fa-phone"></i> <span class="bold-style">&nbsp (030)51656426</span> </h5></div>
            <div class="upper"><h5><i class="fas fa-user"></i> <span class="bold-style">&nbsp Ashsel peter senior</span> </h5></div>
            <div class="upper"><h5><i class="fas fa-envelope-open"></i><span class="bold-style">&nbsp krishn@gmail.com</span> </h5></div>
            <div class="upper"><h5><i class="fas fa-radiation-alt"></i> <span class="bold-style">&nbsp fasdfklaaskdf.de</span> </h5></div>
             <button class="btn-style btn-primary">consectetur adipisicing.</button>
             <button class="btn-style btn-primary">donsadaetur adinadddag.</button>

                </div>
                {{!-- right side --}}
                
            </div>
        </div>
    </div>
</div>